---
// ETF UNSA - Code Example
import NoSidebar from '../../../layouts/NoSidebar.astro';
import ExampleSnippet from '../../../components/common/ExampleSnippet.astro';

const breadcrumbItems = [
  { label: 'Početna', href: '/' },
  { label: 'Primjeri', href: '#' },
  { label: 'Tekst & Mediji', href: '#' },
  { label: 'Kod', href: '#', active: true },
];

const inlineCodeSnippet = `<p>
  Za prikazivanje kratkih isječaka koda unutar teksta koristite <code>&lt;code&gt;</code> element.
</p>
<p>
  Na primjer, <code>&lt;section&gt;</code> treba biti omotan kao inline element.
</p>`;

const userInputSnippet = `<p>
  Koristite <code>&lt;kbd&gt;</code> da označite input koji se unosi putem tastature:
</p>
<p>
  Pritisnite <kbd>Ctrl</kbd> + <kbd>,</kbd> da otvorite postavke.
</p>
<hr class="my-4" />
<p>
  Koristite <code>&lt;var&gt;</code> za označavanje varijabli:
</p>
<p>
  <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
</p>`;

const blocksCode = `<p>
  Koristite <code>&lt;pre&gt;</code> element za višelinijske blokove koda. Pobrinite se da escape-ate
  uglaste zagrade u HTML-u.
</p>
<pre class="bg-light p-3 border rounded"><code>&lt;article class="blog-post"&gt;
  &lt;h2 class="blog-post-title"&gt;Naslov posta&lt;/h2&gt;
  &lt;p class="blog-post-meta"&gt;December 23, 2024 by &lt;a href="#"&gt;Mark&lt;/a&gt;&lt;/p&gt;

  &lt;p&gt;This is an example blog post. Look there seems to be some code here.&lt;/p&gt;
&lt;/article&gt;
</code></pre>`;

const sampleOutputCode = `<p>
  Koristite <code>&lt;samp&gt;</code> za prikaz outputa iz programa:
</p>
<samp>This text is meant to be treated as sample output from a computer program.</samp>`;
---

<NoSidebar
  title="Kod (Code)"
  breadcrumbItems={breadcrumbItems}
  bannerTitle="Kod"
  bannerSubtitle="Primjeri formatiranja koda: inline, blokovi, varijable i input"
  bannerSize="xs"
>
  <div class="row">
    <div class="col-12">
      <ExampleSnippet
        title="Inline Code"
        description="Formatiranje inline koda."
        code={inlineCodeSnippet}
      />

      <ExampleSnippet
        title="User Input & Variables"
        description="Oznake za tastaturni unos i varijable."
        code={userInputSnippet}
      />

      <ExampleSnippet
        title="Code Blocks"
        description="Blokovi koda koristeći <pre> tag."
        code={blocksCode}
      />

      <ExampleSnippet
        title="Sample Output"
        description="Prikaz izlaza iz računarskih programa."
        code={sampleOutputCode}
      />
    </div>
  </div>
</NoSidebar>
