---
// ETF UNSA - Generic Hero Component
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

interface Props {
  height?: 'full' | 'large' | 'medium' | 'small' | 'auto';
  backgroundImage?: string;
  overlay?: boolean;
  overlayClass?: string;
  class?: string;
  id?: string;
}

const {
  height = 'medium',
  backgroundImage,
  overlay = false,
  overlayClass,
  class: className,
  id,
} = Astro.props;

const heightMap: Record<string, string> = {
  medium: 'md',
  large: 'lg',
  full: 'full', // or xl/100
  sm: 'sm',
  md: 'md',
  lg: 'lg',
  xl: 'full',
};

const finalHeightClass =
  height !== 'auto' ? (heightMap[height] ? `hero-${heightMap[height]}` : `hero-${height}`) : '';
const style = backgroundImage ? `background-image: url('${backgroundImage}');` : '';
---

<section id={id} class={`hero ${finalHeightClass} ${className || ''}`} style={style}>
  {overlay && <div class={`hero-overlay ${overlayClass || ''}`} />}

  <div class="hero-content container">
    <slot />
  </div>
</section>
