---
// ETF UNSA - Study Program List Example
// Author: Ernedin Zajko <ezajko@root.ba>
// License: GPL-2.0-or-later

import PageLayout from '../../layouts/PageLayout.astro';
import ProgramCard from '../../components/ProgramCard.astro';

const breadcrumbItems = [
  { label: 'Početna', href: '/' },
  { label: 'Odsjeci', href: '#' },
  { label: 'Računarstvo i informatika', href: '/examples/department' },
  { label: 'Studijski programi', href: '#', active: true }
];

const programs = [
  {
    cycle: 'I Ciklus (Bachelor)',
    name: 'Računarstvo i informatika',
    duration: '3 Godine',
    ects: '180 ECTS',
    title: 'Bachelor inženjer elektrotehnike',
    link: '/examples/study-program'
  },
  {
    cycle: 'II Ciklus (Master)',
    name: 'Računarstvo i informatika',
    duration: '2 Godine',
    ects: '120 ECTS',
    title: 'Magistar inženjer elektrotehnike',
    link: '#'
  },
  {
    cycle: 'II Ciklus (Master)',
    name: 'Software Engineering (English)',
    duration: '2 Godine',
    ects: '120 ECTS',
    title: 'Master of Software Engineering',
    link: '#'
  },
  {
    cycle: 'III Ciklus (Doktorski)',
    name: 'Računarstvo i informatika',
    duration: '3 Godine',
    ects: '180 ECTS',
    title: 'Doktor tehničkih nauka',
    link: '#'
  }
];
---

<PageLayout title="Studijski programi | ETF UNSA" breadcrumbItems={breadcrumbItems}>
  <div class="col-12">
    <h1 class="mb-4">Studijski programi</h1>
    <p class="lead mb-5">Odsjek nudi programe na sva tri ciklusa studija, usklađene sa Bolonjskim procesom i potrebama tržišta rada.</p>
    
    <div class="d-flex flex-column gap-4">
      {programs.map(prog => (
        <ProgramCard
          name={prog.name}
          cycle={prog.cycle}
          title={prog.title}
          duration={prog.duration}
          ects={prog.ects}
          link={prog.link}
        />
      ))}
    </div>
  </div>
</PageLayout>
